$white: #FFF;
* { box-sizing: border-box; }

html, body { margin: 0; padding: 0; height: 100%;}
body {
    background: #efefef;
    font-size: 16px;
    font-family: Helvetica, Arial, san-serif;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-size: contain;
    }

h1,h2,h3,h4 {
    text-align: center;
}

h3, .h3 {

    font-weight: bold;
    font-size: 1.3em;
    display: flex;
    align-items: center;

    &::after, &::before {
        content: '';
        flex: 1;
        padding: .5px;
        margin-top: .4ch; // feels more natural to center on non-ascenders
        margin-left: 1ch;
        margin-right: 1ch;
        background: black;
    }
}

.help { color: black; }

.profilepic { background: #AAA; height: 3em; width: 3em; border-radius: 50%; }
.face-and-name {
    input { text-align: center; }
}
.hidden { display: none; }

.section-header {
    .header-buffer { width: auto; flex-grow: 2; background: #4DB29E; height: 1px; }
    .header-title { flex-grow: 1; }
}

#workarea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.page {
    max-width: 40em;
    background: $white;
    padding: 1em;
    margin: 1em;
    box-shadow: .1em .1em .1em rgba(0,0,0,.2);
}


.flex { display: flex; }
.flex-row { flex-direction: row;}
.flex-col { flex-direction: column;}
.flex-wp { flex-wrap: wrap; }
.flex-sp-ar { justify-content: space-around;}
.flex-al-cn { align-items: center; }

.tx-tf-uc { text-transform: capitalize; }

article {
    section {
        width: 100%;
        padding: .25em;
        &.half { width: 50%; }
    }
}

input, textarea {
    // width: 100%;
    font-size: 1em;
    background: transparent;
    border: none;
    border-radius: 0;
    // border-bottom: 2px solid #efefef;
    transition: all .1s ease-in-out;

    &:focus { outline: none; }
    &.txt-right { text-align: right;}
    &.attr:focus { border-bottom: 3px solid #4DB29E; }
}

input { height: 4ch; }

.goals span, .fears span {
    &::before {
        content: "•";
        width: .2em;

    }
}

textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
}

// Persona Styling
.persona-pic {
    border-radius: 50%;
    border: #efefef solid .5em;
    padding: .2em;
}

.attributes {
    h3 { flex-grow: 2; width: 100%; }
    span { flex-grow: 1; width: 50%; padding: .25em;  }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
    }
