<html>
    <head>

        <link rel="stylesheet" type="text/css" href="css/main.css">

        <script src="bower_components/vue/dist/vue.js"></script>
        <script src="bower_components/vue-resource/dist/vue-resource.min.js"></script>

    </head>
    <body>
        <div id="personaMain">
            <h1>{{header}}</h1>

            <div id="workarea">
                <article class="page" v-for="(person, index) in people">
                            <img :src="person.pics" />
                            <h3>{{person.name}}</h3> <button v-on:click="randomizeUser(index)">Randomize User</button>
                            <button v-on:click="deletePersona(index)">Delete Persona</button>
                            <input v-model="person.name" />
                            <textarea>
                                {{person.notes}}
                            </textarea>

                            <ul>
                                <li v-for="(attr, attrIndex) in attributes" v-if="attr">
                                    <input v-model="attr.title" />
                                    <input type="range" min=0 max=5 v-model="person.attributes[attrIndex].range" range="" />
                                    {{person.attributes[attrIndex].range}}
                                    <!-- <p>{{attr.notes}}</p> -->
                                    <button v-on:click="removeAttr(attrIndex)">Remove Attribute</button>
                                </li>
                            </ul>
                </article>
            </div>
            <button v-on:click="createPersona">Add Persona</button>
            <button v-on:click="addAttr()">Add Attribute</button>

        </div>

    <script src="js/app.js"></script>
    </body>
</html>
