<html>
    <head>

        <link rel="stylesheet" type="text/css" href="css/main.css">

        <script src="bower_components/vue/dist/vue.js"></script>


    </head>
    <body>
        <div id="personaMain">
            <h1>{{header}}</h1>

            <article>
                <ul>
                    <li v-for="(person, index) in people">

                        <h3>{{person.name}} {{index}}</h3>
                        <input v-model="person.name" />
                        <ul>
                            <li v-for="(attr, attrIndex) in attributes">
                                <input v-model="person.attrData[attrIndex].name" />
                                <input type="range" min=0 max=100 v-model="person.attrData[attrIndex].range" range="" /> {{person.attrData[attrIndex].range}}
                                <p>{{person.attrData[attrIndex].notes}}</p>
                                <button v-on:click="removeAttr(attr)">Remove Attribute</button>
                            </li>

                        <button v-on:click="deletePersona(person)">Delete Persona</button>
                    </li>
                </ul>
            </article>

            <button v-on:click="createPersona">Add Persona</button>
            <button v-on:click="addAttr">Add Attribute</button>
        </div>

    <script src="js/app.js"></script>
    </body>
</html>
